<div class="modal-header">
    <h5 class="modal-title pull-left">{{title}}</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">    
    <div class="row" style="margin-bottom: 10px">
        <div class="col">
            A tabela abaixo represeta o ponto inicial e final da seleção que você fez no gráfico.
        </div>
    </div>    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{product.date_formated}}</td>
                <td>{{product.value}}</td>
            </tr>
            <tr class="table-danger">
                <td colspan="3"><b>Os pontos selecionados representam um intervalo de {{products[1].date_dif}} minutos.</b></td>
            </tr>
        </tbody>
    </table>  
    <div class="row">
        <div class="col">
            <dropdown-product 
                [channel_id]="channelId" 
                [machine_code]="machineCode"
                (emitChangeEvent)="setProduct($event)">
            </dropdown-product>
        </div>
        <div class="col">
            <input 
                [(ngModel)]="amount" 
                type="number" step="0.01"
                class="form-control">
        </div>        
    </div>
    
</div>
<div class="modal-footer">
    <button 
        class="btn btn-sm btn-outline-primary" 
        [disabled]="!products[0].product_id" 
        (click)="confirm()">
        Confirmar lançamento de produto
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="bsModalRef.hide()">Fechar</button>
</div>